<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/cinema?createDatabaseIfNotExist=true&amp;characterEncoding=utf-8&amp;useUnicode=true</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="hibernate.dialect">UTFDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>

        <mapping class="Entities.Movie"/>
        <mapping class="Entities.MovieLanguage"/>
        <mapping class="Entities.Genre"/>
        <mapping class="Entities.Comment"/>
        <mapping class="Entities.Order"/>
        <mapping class="Entities.OrderDetail"/>
        <mapping class="Entities.Shop"/>
    </session-factory>
</hibernate-configuration>