* {
    margin: 0;
}
#header {
    color: white;
    background: #d0723b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#open_buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#header_signin {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#title {
    text-align: center;
    font-size: 24px;
}

#languages {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    font-size: 14px;
}

img {
    width: 26px;
    height: 26px;
}

.header_language {
    padding: 20px;
}

.header_button {
    padding: 16px;
}

.header_language:hover, .header_button:hover {
    background: #2EA13C;
    cursor: pointer;
}

#login {
    padding-left: 8px;
}