@import "main.css";
#body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
}

#right {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.buy_buttons {
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    -webkit-user-select: none;
}

#film_poster {
    height: auto;
    width: 150px;
}

#film_poster:hover {
    cursor: pointer;
}

#film-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

#film-short {
    font-size: 20px;
}