@import "main.css";
#body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 16px;
}

#right {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#film_poster {
    height: 768px;
    width: auto;
}

#film-short, #film-long, #film-review {
    white-space: pre-line;
    font-size: 20px;
}