#body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 16px;
}

#right {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.buy_buttons, #text_buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    -webkit-user-select: none;
}

#film_poster {
    height: 768px;
    width: auto;
}

#film-long-title, #film-review-title, #film-short-title {
    background: #add8e6;
}

#film-long-title:hover, #film-review-title:hover, #film-short-title:hover {
    cursor: pointer;
}

#film-long-title, #film-review-title, #film-short-title, #buy-btn {
    font-size: 16px;
    height: 32px;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 32px;
    text-align: center;
    margin: 8px
}

#film-short-title {
    margin-left: 0;
}

#film-short, #film-long, #film-review {
    white-space: pre-line;
    font-size: 20px;
}

.red_btn, .minus, .plus, .counter, .cancel {
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin: 8px
}

.red_btn:hover, .minus:hover, .plus:hover, .cancel:hover {
    cursor: pointer;
}

.minus, .plus, .counter, .cancel {
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    background: #dcd9d3;
}

.red_btn {
    background: #ff5956;
    color: white;
    margin-left: 0;
    padding-left: 24px;
    padding-right: 24px;
}

.plus {
    margin-right: 8px;
}

.red_btn:hover {
    background: #d74938;
}

.cancel:hover {
    background: #bebbb5;
}

.minus:hover {
    background: #d0723b;
    color: white;
}

.plus:hover {
    background: #89c14f;
    color: white;
}